<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/imagenes/logo.jpg" width="80" height="80" alt="Logo centro La Flota">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu2"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">{{ tr.translate('inicio', tr.idiomaSeleccionado) }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservas">{{ tr.translate('reservas', tr.idiomaSeleccionado) }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Galeria">{{ tr.translate('galeria', tr.idiomaSeleccionado) }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Contacto">{{ tr.translate('contacto', tr.idiomaSeleccionado) }}</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="language">
          <div class="language-selected" (click)="cambiarIdioma('es')">
            <img [src]="rutaImagen" alt="Idioma" class="language-flag">
          </div>
          <ul>
            <li><span href="#" class="es" (click)="cambiarIdioma('es')">Español</span></li>
            <li><span href="#" class="it" (click)="cambiarIdioma('it')">Italiano</span></li>
            <li><span href="#" class="en" (click)="cambiarIdioma('en')">English</span></li>
            <li><span href="#" class="pt" (click)="cambiarIdioma('pt')">Português</span></li>
            <li><span href="#" class="fr" (click)="cambiarIdioma('fr')">Frances</span></li>
          </ul>
        </div>
        <a class="btn btn-primary" href="login" role="button" style="background-color: #3b5998;">
          <i class="bi bi-person-circle"></i> Login
        </a>
      </form>
    </div>
  </div>
</nav>