.navbar-nav .nav-link:hover {
  background-color: #f2f2f2;
}
.nav-link{
  color: #666666;
}
.navbar-nav .nav-link:active {
  background-color: #c0c0c0;
}

.navbar-nav .nav-link:hover {
  color: blue;
}

.navbar-nav .nav-link:active {
  color: red;
}

.language {
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
  z-index: 999; /* Establecer un valor alto para z-index */
}

.language-selected {
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
}

.language ul {
  position: absolute;
  width: 180px;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  padding-top: 10px;
  display: none;
  z-index: 999; /* Establecer un valor alto para z-index */
}

.language ul li {
  list-style: none;
  cursor: pointer;
}

.language ul li span {
  display: block;
  color: #666666;
  padding-top: 5px 10px;
}

.language ul li:hover {
  background-color: #f8f8f8;
}

.language ul li span::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

span.en::before {
  background-image: url(../../../assets/imagenes/en-flag.png);
}

span.es::before {
  background-image: url(../../../assets/imagenes/es-flag.png);
}

span.fr::before {
  background-image: url(../../../assets/imagenes/fr-flag.png);
}

span.de::before {
  background-image: url(../../../assets/imagenes/de-flag.png);
}

span.it::before {
  background-image: url(../../../assets/imagenes/it-flag.png);
}

.language:hover ul {
  display: block;
}

.language-flag {
  width: 430px;
  height: 40px;
  margin-right: 5px;
}

.language-selected img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row; /* Cambia la dirección del flex a horizontal */
    justify-content: space-around; /* Alinea los elementos horizontalmente */
  }

  .nav-item {
    margin: 0 10px; /* Ajusta los márgenes de los elementos del menú */
  }

 

}