
<div class="container">
    <div class="row">
      <h1>{{ tr.translate('calendario', tr.idiomaSeleccionado) }}</h1>
      <div class="col-md-6">
        <!-- Agregamos la leyenda -->
        <div class="legend">
          <div class="legend-item">
            <div class="legend-color" style="background-color: #ff0000;"></div>
            <div class="legend-text">{{ tr.translate('reservaCompleta', tr.idiomaSeleccionado) }}</div>
          </div>
          <div class="legend-item">
            <div class="legend-color" style="background-color: green;"></div>
            <div class="legend-text">{{ tr.translate('disponible', tr.idiomaSeleccionado) }}</div>
          </div>
        </div>
        <div style="white-space: pre-line;">
          <p>{{ tr.translate('importante', tr.idiomaSeleccionado) }}</p>
          <p>{{ tr.translate('horario', tr.idiomaSeleccionado) }}</p>
          <p>{{ tr.translate('menu', tr.idiomaSeleccionado) }}</p>
          <a href="https://www.cctmurcia.es/es/menus">cctmurcia.es</a><br>
          <a href="https://www.esh.es/restaurante-azajal/">www.esh.es/restaurante-azajal</a><br>
          <a href="https://www.ehib.es/escuela-de-hoteleria/oferta-academica.asp">La Escuela de Hostelería de les Illes Balears</a><br>
          <a href="https://hosteleriayturismocartagena.es/">https://hosteleriayturismocartagena.es/</a><br>
          <a href="https://fpvesta.com/">https://fpvesta.com/</a><br>
          <a href="https://escueladehosteleriaitm.com/">https://escueladehosteleriaitm.com/</a><br>
        </div>
        <div class="anular">
          <p>{{ tr.translate('anular_reserva', tr.idiomaSeleccionado) }}</p>
          <p>{{ tr.translate('anular_reserva1', tr.idiomaSeleccionado) }}<span id="renuncia-link" (click)="toggleRenunciaSection()">{{ tr.translate('anular_reserva2', tr.idiomaSeleccionado) }}</span></p>
          <div id="renuncia-section" style="display: none;">
            <div class="input-group">
              <input type="text" [(ngModel)]="codigoVerificacion" placeholder="{{ tr.translate('anular_reserva_input', tr.idiomaSeleccionado) }}" class="form-control form-control-sm">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" (click)="anularReserva(codigoVerificacion)">{{ tr.translate('anular_reserva_boton', tr.idiomaSeleccionado) }}</button>
              </div>
            </div>
          </div>
          <p>{{ tr.translate('recordar_reserva', tr.idiomaSeleccionado) }}<span id="recordar-link" (click)="toggleRecordarSection()">{{ tr.translate('recordar_reserva2', tr.idiomaSeleccionado) }}</span> {{ tr.translate('recordar_reserva3', tr.idiomaSeleccionado) }}</p>
          <div id="recordar-section" style="display: none;">
            <div class="input-group">
              <input type="text" [(ngModel)]="email" placeholder="{{ tr.translate('recordar_reserva_input', tr.idiomaSeleccionado) }}" class="form-control form-control-sm">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" (click)="recordarCorreo(email)">{{ tr.translate('recordar_reserva_boton', tr.idiomaSeleccionado) }}</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-6 calendario">
        <full-calendar *ngIf="calendarOptions" #fullcalendar [options]="calendarOptions">
          <ng-template #eventContent let-arg>
            <div class="calendario_fechaSeleccionable">
              <b >{{ arg.event.title }}</b> - {{ arg.event.start.getDate() }}
            </div>
          </ng-template>
        </full-calendar>
      </div>
    </div>
  </div>
