
<div class="container">
    <div class="row">
      <h1>{{ tr.translate('calendario', tr.idiomaSeleccionado) }}</h1>
      <div class="col-md-12">
        <!-- Agregamos la leyenda -->
        <div class="legend">
          <div class="legend-item">
            <div class="legend-color" style="background-color: #ff0000;"></div>
            <div class="legend-text">{{ tr.translate('reservaCompleta', tr.idiomaSeleccionado) }}</div>
          </div>
          <div class="legend-item">
            <div class="legend-color" style="background-color: green;"></div>
            <div class="legend-text">{{ tr.translate('disponible', tr.idiomaSeleccionado) }}</div>
          </div>
        </div>
        
        <p>{{ tr.translate('importante', tr.idiomaSeleccionado) }}</p>
      </div>
      <div class="col-md-10 calendar-container">
        <full-calendar *ngIf="calendarOptions" #fullcalendar [options]="calendarOptions">
          <ng-template #eventContent let-arg>
            <b>{{ arg.event.title }}</b> - {{ arg.event.start.getDate() }}
          </ng-template>
        </full-calendar>
      </div>
    </div>
  </div>
