.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
p{
  text-align: justify;
}

.calendar-container {
  width: 100%;
  margin-bottom: 40px;
}

/* Estilos adicionales para el calendario */
.fullcalendar-container {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
}

.fc-content {
  font-size: 14px;
}

.fc-event-time,
.fc-event-title {
  white-space: normal;
}

/* Estilos para la leyenda */
.legend {
  display: flex;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-text {
  font-size: 14px;
}

.calendario{
  cursor: default;
}

.calendario_fechaSeleccionable{
  cursor: pointer;
}

#renuncia-link,
#recordar-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#renuncia-section {
  margin-top: 10px;
  display: none;
}

.anular {
  margin-top: 20px;
}

.anular p {
  margin-bottom: 5px;
}
.anular p:first-child {
  font-weight: bold;
}