<mat-toolbar color="primary">
  <span>Galería</span>
</mat-toolbar>

<div *ngIf="showSpinner" class="spinner-overlay">
  <div class="spinner">
    <div class="spinner-border text-primary" role="status"></div>
    <span>cargando...</span>
  </div>
</div>

<mat-card>
  <ng-container [class.hide-content]="showSpinner">
    <div class="row align-items-center">
      <div class="col-9">
        <mat-form-field class="col-12">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
      </div>
      <div class="col-3">
        <button mat-raised-button color="primary" class="col-12 añadir" (click)="edit_add_Foto('')" disabled="{{showSpinner}}">Nueva Foto</button>
      </div>
    </div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="nombre_imagen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element" > {{element.nombre_imagen | slice:0:20}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let element" > {{element.tipo}} </td>
        </ng-container>
       
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion | slice:0:50}} </td>
        </ng-container>
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef> Previsualizacion </th>
          <td mat-cell *matCellDef="let element"> <img src={{element.imagen_url}} class="previsualizacionImagen" matTooltip="Editar" (click)="openModal(element)" alt="">  </td>
          
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon matTooltip="Editar" (click)="openModal(element)" class="btnEdit">edit</mat-icon> 
            <mat-icon matTooltip="Eliminar" (click)="borrar(element)" class="btnDelete">delete</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>
  </mat-card>