.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  
  .mat-form-field{
    font-size: 14px;
    width: 85%;
    margin-right: 2%;
  }
  
  .btnEdit,.btnDelete{
    cursor: pointer;
  }

  .btnDelete{
    color: #B0304B;
  }
  .btnEdit{
    color:#376dcd;
    margin-right: 5%;
  }
  .btnVer{
    color:hsl(143, 74%, 56%);
    margin-right: 5%;
  }

  .spinner-border{
    width: 6rem;
    height: 6rem;
  }

  .previsualizacionImagen{
    height: 100px;
    width: 100px;
    cursor: pointer;
  }

  .tituloImagen{
    font-weight: bolder;
  }
  .botonAñadir{
    background-color: greenyellow;
  }
  .prueba{
    background-color: brown;
  }
  
  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 40px; /* Aumenta el tamaño del texto del spinner */
    padding: 20px; /* Aumenta el espacio interno del spinner */
  }