<nav>
    <app-navbar></app-navbar>
</nav>

<body>
    <div class="content">
        <div class="bootstrap-wrapper" *ngIf="login.isLoggedIn()">
            <div class="row">
                <div class="col-md-2">
                    <app-menu></app-menu>
                </div>
                <div class="col-md-10">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="bootstrap-wrapper" *ngIf="!login.isLoggedIn()">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>
<footer class="footer">
    <app-footer></app-footer>
</footer>