.content {
  min-height: calc(100vh - 100px); /* Ajusta el espacio inferior para el footer */
  padding-bottom: 100px; /* Ajusta el espacio inferior para el footer */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  padding-bottom: 200px;
}

.container {
  margin-top: 20px; /* Ajusta el margen superior */
  margin-bottom: 20px; /* Ajusta el margen inferior */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
  z-index: 9999;
}

.app-menu {
  position: sticky;
  top: 0;
  left: 0;
  height: calc(100vh - 100px); /* Ajusta el alto del menú */
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto; /* Agrega scroll al menú si es necesario */

}

/* Media queries para responsive */

@media (max-width: 768px) {
  .custom-menu-container {
    margin-top: 20px; /* Ajusta el margen superior */
  }
  
  .app-menu {
    height: auto;
  }
  .content {
    padding-bottom: 200px; /* Aumenta el espacio inferior para el footer en pantallas pequeñas */
  }
}