.carousel-item {
  height: 800px; /* Establece la altura deseada para el contenedor */
}

.carousel-item img {
  max-height: 100%; /* Ajusta la altura máxima de la imagen al contenedor */
  width: auto; /* Permite que el ancho de la imagen se ajuste automáticamente */
  object-fit: contain; /* Ajusta la imagen para mantener la relación de aspecto */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el caption */
  color: #fff; /* Color del texto del caption */
  padding: 10px; /* Espaciado interno del caption */
}

.carousel-caption h5{
  font-size: 18px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000; /* Color de fondo para los iconos de navegación */
  color: #fff; /* Color de los iconos de navegación */
  padding: 10px; /* Espaciado interno de los iconos de navegación */
}

.carousel-indicators li {
  background-color: #000; /* Color de fondo para los indicadores */
  border: none; /* Quita el borde de los indicadores */
  width: 10px; /* Ancho de los indicadores */
  height: 10px; /* Alto de los indicadores */
  margin: 0 4px; /* Espaciado horizontal entre los indicadores */
}

.carousel-indicators .active {
  background-color: #fff; /* Color de fondo para el indicador activo */
}


/*CUADRICULA**************************************/
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.image-item {
  width: 300px;
  height: 300px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 60%;
  max-height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
