.carousel-item {
  height: 600px; /* Establece la altura deseada para el contenedor */
}

.carousel-item img {
  max-height: 100%; /* Ajusta la altura máxima de la imagen al contenedor */
  width: auto; /* Permite que el ancho de la imagen se ajuste automáticamente */
  object-fit: contain; /* Ajusta la imagen para mantener la relación de aspecto */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el caption */
  color: #fff; /* Color del texto del caption */
  padding: 10px; /* Espaciado interno del caption */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000; /* Color de fondo para los iconos de navegación */
  color: #fff; /* Color de los iconos de navegación */
  padding: 10px; /* Espaciado interno de los iconos de navegación */
}

.carousel-indicators li {
  background-color: #000; /* Color de fondo para los indicadores */
  border: none; /* Quita el borde de los indicadores */
  width: 10px; /* Ancho de los indicadores */
  height: 10px; /* Alto de los indicadores */
  margin: 0 4px; /* Espaciado horizontal entre los indicadores */
}

.carousel-indicators .active {
  background-color: #fff; /* Color de fondo para el indicador activo */
}