button {
    margin: 2%;
 }
 
 .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    text-align: center;
 }
 
 mat-toolbar {
    margin-bottom: 2%;
 }
 img{
   margin-top: 2%;
 }

 .modal-content {
   max-height: 600px; /* Establece la altura máxima del contenido del modal */
 }
 img{
   width: 200px;
   height: 200px;
}