.modal-content {
  max-height: 600px; /* Establece la altura máxima del contenido del modal */
  padding-bottom: 60px;
}
button {
    margin: 2%;
 }
 
 .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    text-align: center;
 }
 
 mat-toolbar {
    margin-bottom: 2%;
 }
 img{
   margin-top: 2%;
 }

 
 img{
   width: 200px;
   height: 200px;
}

.disabled {
   pointer-events: none;
   background-color: #D3D3D3;
   opacity: 0.5;
 }

@media (max-width: 768px) {
  .modal-scrollable {
      max-height: 400px; /* Ajusta esta altura según tus necesidades */
      overflow-y: auto;
  }
}
 