.carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
  }
  h1{text-align: center;}
  .carousel {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
  
	&::before,
	&::after {
	  content: "";
	  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	  position: absolute;
	  width: 200px;
	  height: 400px;
	  z-index: 2;
	}
  
	&::before {
	  top: 0;
	  left: 0;
	}
  
	&::after {
	  top: 0;
	  right: 0;
	  transform: rotateZ(180deg);
	}
  
	.slide-track {
	  display: flex;
	  animation: scroll 38s linear infinite;
	  width: 4000px;
	}
  
	.slide {
	  height: 400px;
	  width: 800px;
	  flex-shrink: 0;
  
	  img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	  }
	}
  }
  
  @keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-800px * 6 + 800px)); }
  }