<section>
    <div class="container">
        <div class="carousel">

            <!-- Utilizamos este primer input independiente del ngfor para que al cargar la pagina ya aparezca marcada la primera-->
              <input type="radio" name="slides" checked="checked" id="slide-1">

              <ng-container *ngFor="let image of images; let i = index">
                <ng-container *ngIf="i !== 0">
                    <input type="radio" name="slides" id="slide-{{i+1}}">
                </ng-container>
              </ng-container>

                <!--<input *ngFor="let image of images; let i = index" type="radio" name="slides" id="slide-{{i+1}}">-->
                <!-- Resto de tu contenido -->

                <ul class="carousel__slides">
                    <li *ngFor="let image of images; let i = index" class="carousel__slide">
                        <figure>
                            <div>
                                <img src="{{image.imagen_url}}" alt="">
                            </div>
                            <figcaption>
                                <h1>{{image.nombre_imagen}}</h1>
                                <span class="credit">{{image.descripcion}}</span>
                            </figcaption>
                        </figure>
                    </li>
                </ul>

            <ul class="carousel__thumbnails">
                <li *ngFor="let image of images; let i = index">
                    <label for="slide-{{i+1}}"><img src="{{image.imagen_url}}" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section>