<!-- <app-carousel4></app-carousel4> -->
<!--<app-payment-form [dataFromParent]="dataToChild"></app-payment-form>-->
<app-carousel5></app-carousel5>
<app-carousel-inicio></app-carousel-inicio>
<app-carousel3></app-carousel3>
<div></div>

<!--<div class="container-fluid px0">
    <div class="row bg-dark h-100">
        <div class="col12 px-0">
            <app-carousel4 [items]="carouselData" ></app-carousel4>
            <img src="https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
    </div>
</div>-->


