footer {
  position: sticky;
  bottom: 0;
  padding: 0px;
}
.row {
  justify-content: space-between;
}
.copyright{
  text-align: right;
  padding-right: 20px;
}
.login{
  text-align: left;
}
.login a{
  color: white;
  text-decoration: none;
}
.contenedor{
  background-color: rgba(0, 0, 0, 0.2);
}

  /* Estilos para pantallas más pequeñas */
@media screen and (max-width: 767px) {
    footer {
      position: fixed;
      padding: 10px;
      font-size: 14px;
      width: 100%;
      left: 0;
    }
    .copyright, .login{
      text-align: center;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    footer {
      position: fixed;
      padding: 15px;
      font-size: 16px;
      width: 100%;
      left: 0;
    }
  }
  
  /* Estilos para pantallas más grandes */
  @media screen and (min-width: 992px) {
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 18px;
      overflow: hidden;
    }
  }