
.navbar-nav .nav-link i {
  margin-right: 5px;
}
.navbar-nav {
  flex-direction: column;
}

.menu-text {
  margin-left: 5px;
}
@media (max-width: 766.98px) {
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .nav-link .menu-text {
    display: none;
  }
  .navbar-nav .nav-link {
    padding: 0 0.5rem;
  }
}

@media (min-width: 767) {
  .navbar-nav {
    flex-direction: column;
  }
  
}

.navbar-nav .nav-link:hover {
  background-color: #f2f2f2;
}

.navbar-nav .nav-link:active {
  background-color: #c0c0c0;
}
.navbar-nav .nav-link i {
  font-size: 24px;
  margin-right: 5px;
}

.navbar-nav .nav-link:hover i {
  color: blue;
}

.navbar-nav .nav-link:active i {
  color: red;
}