
<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent" >
            <div class="fadeIn first">
                <img src="../../../assets/imagenes/logo.jpg" id="icon" alt="Icono" />
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="formSubmit(loginForm.value)">
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" formControlName="email">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <div class="alert alert-danger" *ngIf="errorStatus">
                <p>{{errorMsj}}</p>
            </div>

        </div>
    </div>
</div>