.modal-content {
   max-height: 600px; /* Establece la altura máxima del contenido del modal */
   padding-bottom: 60px;
 }
button {
   margin: 2%;
}

.fill-remaining-space {
   flex: 1 1 auto;
   text-align: center;
}

mat-toolbar {
   margin-bottom: 2%;
}
@media (max-width: 768px) {
   .modal-scrollable {
       max-height: 400px; /* Ajusta esta altura según tus necesidades */
       overflow-y: auto;
   }
 }