<!-- <h2 mat-dialog-title>{{titulo}}</h2> -->
<mat-toolbar color="primary">
    <span class="fill-remaining-space">{{titulo}}</span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit(form)" class="form">
            <mat-dialog-content>

                <div class="row">
                    <div class="col-4 mb-4">
                        <label class="form-label">Turno</label>
                        <select formControlName="turno" class="form-control" placeholder="hola"
                            [ngClass]="{ 'is-invalid': submitted && f.controls['turno'].invalid}">
                            <option value="" hidden selected>Selecciona un turno</option>
                            <option value="Comida">Comida</option>
                            <option value="Cena">Cena</option>
                        </select>
                        <div *ngIf="submitted && f.controls['turno'].invalid" class="invalid-feedback">
                            <div>Turno requerido</div>
                        </div>
                    </div>

                    <div class="col-4 mb-4">
                        <label class="form-label">Plazas</label>
                        <input type="number" formControlName="n_plazas" class="form-control" min="0"
                            [ngClass]="{ 'is-invalid': submitted && f.controls['n_plazas'].invalid}" />
                        <div *ngIf="submitted && f.controls['n_plazas'].invalid" class="invalid-feedback">
                            <div>Plazas requerido</div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <label class="form-label">Fecha</label>
                        <input type="date" formControlName="fecha" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.controls['fecha'].invalid}" />
                            <div *ngIf="submitted && f.controls['fecha'].invalid" class="invalid-feedback">
                                <div>Fecha requerida</div>
                            </div>
                    </div>

                    <div class="col-4 mb-4">
                        <label class="form-label">Publicar </label>
                        <select formControlName="visible" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.controls['visible'].invalid}">
                            <option value="1">SI</option>
                            <option value="0">NO</option>
                        </select>
                        <div *ngIf="submitted && f.controls['visible'].invalid" class="invalid-feedback">
                            <div>Elemento requerido</div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <label class="form-label">Pago </label>
                        <select formControlName="formas_pago" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.controls['formas_pago'].invalid}">
                            <option value="contado">Contado</option>
                            <option value="tarjeta">Tarjeta</option>
                            <option value="tarjeta y contado">Tarjeta y contado</option>
                        </select>
                        <div *ngIf="submitted && f.controls['visible'].invalid" class="invalid-feedback">
                            <div>Elemento requerido</div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <label class="form-label">Menu </label>
                        <select formControlName="id_menu" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.controls['id_menu'].invalid}">
                            <option value="{{opt.id}}" *ngFor="let opt of data.listaMenu">{{opt.nombre_menu}}</option>
                        </select>
                        <div *ngIf="submitted && f.controls['id_menu'].invalid" class="invalid-feedback">
                            <div>Elemento requerido</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 mb-12">
                        <label class="form-label">Observaciones</label>
                        <textarea formControlName="observaciones" class="form-control" cols="30" rows="5"></textarea>
                    </div>

                </div>
                <div class="text-center">
                    <button class="btn btn-primary me-2">Aceptar</button>
                    <button class="btn btn-secondary" type="reset" (click)="cancelar()">Cancelar</button>
                </div>

            </mat-dialog-content>
        </form>
    </mat-card-content>
</mat-card>