
<div class="container-portada">
    <div class="imagen-container">
        <div class="imagen-fondo imagen-actual fade-in" [style.background-image]="'url(' + imagenActual + ')'"></div>
        <div class="capa imagen-actual fade-in"></div>
    </div>
    <!-- <div class="imagen-container">
        <div class="imagen-fondo imagen-actual fade-out" [style.background-image]="'url(' + imagenNueva + ')'"></div>
        <div class="capa imagen-actual fade-out"></div>
    </div> -->
    
    <div class="detalle">
        <h1>{{ tr.translate('inicio_titulo', tr.idiomaSeleccionado) }}</h1>
        <p>{{ tr.translate('inicio_saludo', tr.idiomaSeleccionado) }}</p>
        <button class="btn btn-primary" routerLink="/reservas">{{ tr.translate('inicio_reserva', tr.idiomaSeleccionado) }}</button>
    </div>
</div>
