<!-- <h2 mat-dialog-title>{{titulo}}</h2> -->
<mat-toolbar color="primary">
    <span class="fill-remaining-space">{{titulo}}</span>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form" action="/upload-image" enctype="multipart/form-data">

    <div class="row">
        <div class="col-10 mb-10">
            <label class="form-label">Nombre de la imagen</label>
            <input formControlName="nombre_imagen" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.controls['nombre_imagen'].invalid}" />
            <div *ngIf="submitted && f.controls['nombre_imagen'].invalid" class="invalid-feedback">
                <div>Nombre requerido</div>
            </div>
        </div>
        <div class="col-2 mb-2">
            <label class="form-label">Tipo de imagen</label>
            <select formControlName="tipo" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.controls['tipo'].invalid}">
              <option value="" [attr.disabled]="true" [attr.selected]="true" >Selecciona un tipo</option>
              <option value="inicio">Inicio</option>
              <option value="galeria">Galería</option>
              <option value="zigzag">Zigzag</option>
            </select>
            <div *ngIf="submitted && f.controls['tipo'].invalid" class="invalid-feedback">
              <div>Tipo requerido</div>
            </div>
          </div>
        <div class="col-12 mb-12">
            <label class="form-label">URL imagen</label>
            <div class="input-group">
                <input type="text"  formControlName="imagen_url" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.controls['imagen_url'].invalid }" [attr.disabled]="true"/>
            </div>
        </div>
        <div class="col-12 mb-12">
            <label class="form-label">Descripcion</label>
            <div class="input-group">
                <input type="text" step="any" formControlName="descripcion" class="form-control" min="0"
                    [ngClass]="{ 'is-invalid': submitted && f.controls['descripcion'].invalid }" />
                <!--<div class="input-group-prepend">
                    <span class="input-group-text">&#8364;</span>
                </div>-->
            </div>
            <!--<div *ngIf="submitted && f.controls['precio_pax'].invalid" class="invalid-feedback">
                <div>Precio requerido</div>
            </div>-->
        </div>
        <div class="col-9 mb-9">
            <label class="form-label">Imagen menú </label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" >
            <div *ngIf="submitted && f.controls['imagen_url'].invalid" class="invalid-feedback">
                <div>Imagen menú requerida</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-6">
                <label class="form-label">Observaciones</label>
                <textarea formControlName="observaciones" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <div class="col-6 mb-6">
                <img  src="{{f.value.imagen_url}}" width="200" height="200" alt="Imagen del menu no encontrada">
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary me-2">Aceptar</button>
        <button class="btn btn-secondary" type="reset" (click)="cancelar()">Cancelar</button>
    </div>
</form>