
  .form {
    margin: 0;
    padding: 0;
  }

  .disabled {
    pointer-events: none;
    background-color: #D3D3D3;
  }

  .credit-card {
    max-width: 400px;
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: auto;
  }
  
  @media (max-width: 576px) {
    .credit-card {
      max-width: 100%;
      overflow-x: hidden; /* Evitar desplazamiento horizontal en pantallas pequeñas */
    }
  }