<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form"  enctype="multipart/form-data">

  <div class="credit-card">
    <div class="col-10 mb-10">
      <label class="form-label">Precio a pagar  {{dataFromParent.precio}}</label>
      <input formControlName="precio" class="form-control" [class.disabled]="true"/>
    </div>
      <div><br>
        <div #cardInfo></div>
        <div class="error" *ngIf="cardError">
          {{ cardError }}
        </div>
      </div><br>
      <!--<button (click)="onCLick()">Pagar</button>-->
      <button type="submit" class="btn btn-primary me-2">Pagar!</button>
    </div>

</form>