<mat-toolbar color="primary">
  <span>Menus</span>
</mat-toolbar>

<div *ngIf="showSpinner" class="spinner-overlay">
  <div class="spinner">
    <div class="spinner-border text-primary" role="status"></div>
    <span>cargando...</span>
  </div>
</div>


<mat-card [class.hide-content]="showSpinner">
  <ng-container >    
    <div class="row align-items-center">
      <div class="col-9">
      <mat-form-field class="col-12">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
      </mat-form-field>
      </div>
    <div class="col-3">
      <button mat-raised-button color="primary" class="col-12" (click)="edit_add_Turno('')" disabled="{{showSpinner}}">Nuevo Menu</button>
    </div>
  </div>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="nombre_menu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_menu | slice:0:20}} </td>
        </ng-container>
        <!-- Position Column -->
       
        <ng-container matColumnDef="precio_pax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio_pax}} € </td>
        </ng-container>
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef> Observaciones </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'hide-column': hideObservaciones}"> {{element.observaciones  | slice:0:20}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-icon matTooltip="Editar" (click)="openModal(element)" class="btnEdit">edit</mat-icon> 
            <mat-icon matTooltip="Eliminar" (click)="borrar(element)" class="btnDelete">delete</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>
    </mat-card>