<mat-toolbar color="primary">
  <span class="fill-remaining-space">{{titulo}}</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-dialog-content>

        <div class="row">
          <h4><b>Datos del cliente</b></h4>
          <div class="col-2 mb-2">
            <label class="form-label">Nombre</label>
            <input formControlName="nombre" class="form-control" min="0"
              [ngClass]="{ 'is-invalid': submitted && f.value.nombre==''}" />
            <div *ngIf="submitted" class="invalid-feedback">
              <div>Nombre requerido</div>
            </div>
          </div>
            <div class="col-2 mb-2">
              <label class="form-label">1ª apellido </label>
              <input formControlName="apellido1" class="form-control" min="0"
                [ngClass]="{ 'is-invalid': submitted && f.value.apellido1==''}" />
              <div *ngIf="submitted" class="invalid-feedback">
                <div>1ª apellido requerido</div>
              </div>
            </div>
            <div class="col-2 mb-2">
              <label class="form-label">2ª apellido</label>
              <input formControlName="apellido2" class="form-control" min="0"
                [ngClass]="{ 'is-invalid': submitted && f.value.apellido2==''}" />
              <div *ngIf="submitted" class="invalid-feedback">
                <div>2ª apellido requerido</div>
              </div>
            </div>
            <div class="col-2 mb-2">
              <label class="form-label">Teléfono</label>
              <input type="tel" formControlName="telefono" class="form-control" min="0"
                [ngClass]="{ 'is-invalid': submitted && f.controls['telefono'].invalid}" />
              <div class="invalid-feedback" *ngIf="submitted && f.controls['telefono'].errors?.['required']">
                El número de teléfono es requerido.
              </div>
              <div class="invalid-feedback" *ngIf="submitted && f.controls['telefono'].errors?.['invalidTelefono']">
                Por favor, ingresa un número de teléfono válido (9 dígitos).
              </div>
            </div>
            <div class="col-4 mb-4">
              <label class="form-label">Correo electrónico</label>
              <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.controls['email'].invalid}">  
                <div class="invalid-feedback" *ngIf="f.controls['email'].errors?.['required']">El correo electrónico es requerido.</div>
                <div class="invalid-feedback" *ngIf="f.controls['email'].errors?.['email']">El correo electrónico no es válido.</div>
            </div>
            <div class="row">
              <div class="col-12 mb-12">
                <label class="form-label">Observaciones cliente</label>
                <textarea formControlName="observaciones_cliente" class="form-control" cols="30" rows="3"></textarea>
              </div>
    
            </div>
        </div>
        <hr>
        <div class="row">
          <h4><b>Datos de la reserva</b></h4>
           <!-- <div class="col-2 mb-2">
              <label class="form-label">Fecha</label>
              <input type="date" formControlName="fecha" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.value.fecha==''}" />
              <div *ngIf="submitted" class="invalid-feedback">
                <div>Fecha requerida</div>
              </div>
            </div> -->
            <div class="col-2 mb-2">
							<label class="form-label">Fecha del turno</label>
							<div class="input-group">
								<span style="background-color: #337ab7" class="input-group-addon btn btn-primary"
                (click)="openModal()"><i class="bi bi-search"></i></span> <input type="date" formControlName="fecha" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.value.fecha==''}" />
                <div *ngIf="submitted" class="invalid-feedback">
                  <div>Fecha requerida</div>
                </div>
							</div>
						</div> 
            <div class="col-2 mb-2">
              <label class="form-label">Nº comensales</label>
              <input formControlName="num_comensales" class="form-control" min="0"
                [ngClass]="{ 'is-invalid': submitted && f.value.num_comensales==''}" />
              <div *ngIf="submitted" class="invalid-feedback">
                <div>Nº comensales requerido</div>
              </div>
            </div>
           
            <div class="col-3 mb-3">
              <label class="form-label">Forma de pago</label>
              <select formControlName="forma_pago" class="form-select" 
                [ngClass]="{ 'is-invalid': submitted && f.controls['forma_pago'].errors }">
                <option value="" disabled selected>Seleccionar forma de pago</option>
                <option value="contado">Contado</option>
                <option value="tarjeta">Tarjeta</option>
              </select>
              <div *ngIf="submitted && f.controls['forma_pago'].errors" class="invalid-feedback">
                <div>Forma de pago requerida</div>
              </div>
            </div>
            <div class="col-2 mb-2">
              <label class="form-label">estado</label>
              <select formControlName="estado" class="form-select" [ngClass]="{ 'is-invalid': submitted && f.controls['estado'].errors }" placehorder="Seleccionar estado">
                <option value="" disabled selected>Seleccionar forma de pago</option>
                <option value="Pendiente de pago">Pendiente de pago</option>
                <option value="Pendiente confirmar">Pendiente confirmar</option>
                <option value="Pagada">Pagada</option>
                <option value="Anulada">Anulada</option>
                <option value="Finalizada">Finalizada</option>
              </select>
              <div *ngIf="submitted" class="invalid-feedback">
                <div>precio_total requerido</div>
              </div>
  
            </div>
            <div class="col-2 mb-2">
              <label class="form-label">codigo_verificacion</label>
              <input formControlName="codigo_verificacion" class="form-control" />
            </div>
            <!-- <div class="col-2 mb-2">
              <label class="form-label">producto_extra</label>
              <input formControlName="producto_extra" class="form-control" min="0"
                [ngClass]="{ 'is-invalid': submitted && f.value.producto_extra==''}" />
              <div *ngIf="submitted" class="invalid-feedback">
                <div>producto_extra requerido</div>
              </div>
            </div> -->
        </div>
        <div class="row">
          <div class="col-12 mb-12">
            <label class="form-label">Observaciones</label>
            <textarea formControlName="observaciones_reserva" class="form-control" cols="30" rows="3"></textarea>
          </div>

        </div>
        <div class="text-center">
          <button class="btn btn-primary me-2">Aceptar</button>
          <button class="btn btn-secondary" type="reset" (click)="cancelar()">Cancelar</button>
        </div>

      </mat-dialog-content>
    </form>
  </mat-card-content>
</mat-card>
